      <div class="row">
        <div id="navbar">
        <nav class="navbar fixed-bottom justify-content-center">
          <a class="navbar-link" href="/">Home</a>
          <a class="navbar-link" href="/api/books">Books</a>
          <a class="navbar-link" href="#">Light</a>
          <a class="navbar-link" href="#">Settings</a>
        </nav>
      </div>
      
      <div class="sidebar">
      <ul class="nav-sidebar">
          <li><a href="/"><img src="/images/logo-orange.png"></a></li>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/api/books">Books</a></li>
          <li><a href="#">Light</a></li>
          <li><a href="/setting">Settings</a></li>
      </ul>
      </div>