<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title><%= title %></title>
    <link href="stylesheets/reset.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue@2.3.4"></script>
    
    <link href="stylesheets/main.css" rel="stylesheet" type="text/css">
    <!------ Include the above in your HEAD tag ---------->
    
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  </head>
  <body class="home">
    <div class="container-fluid">
  <% include components/navbar %>
      
      
      <div class="main col-sm-12">
          <h1 class="hidden page-header">Book Info</h1>
      
          <!-- LEFT SIDE -->
          <div class="left-side">

        <div id="start-reading">
        <h4>Start Reading</h4>

        <div class="input-group mb-3">
        <input type="text" id="readingBarcodeInput" class="form-control" value="9781455586691" aria-label="ISBN">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" id="readingButton" type="button">start reading</button>
        </div>
      </div>
      </div>
      
      <div id="recent-actions">
      <h4>Reading History</h4>
          <ul class="list-group list-group-flush">
              

              <% sessions.forEach(session=>{ %>
                <!-- pad out hours and minutes with leading zeros https://stackoverflow.com/a/20460414 -->
                 <li class="list-group-item"> <%= session.end_time.toDateString() %> - <%= ("0"+session.end_time.getHours()).slice(-2) %>:<%= ("0"+session.end_time.getMinutes()).slice(-2) %> read %> </li>
              <% }) %>

          </ul>
          </div>

          
       
          <div id="book-slider">
              
              <div class="hor-scroll">
      
                  <div class="book-card">
                  <img src="https://books.google.com/books/content?id=jWqJDQAAQBAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="sample book image" class="bookImage">
                  <p>The obstacle is the way</p>
                  <div class="progressBar"></div>
                  <div class="progressBarOverlay"></div>
                  </div>
      
                  <div class="book-card">
                      <img src="https://books.google.com/books/content?id=sD9wDwAAQBAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="sample book image" class="bookImage">
                      <p>The bullet journal method</p>
                    <div class="progressBar"></div>
                  <div class="progressBarOverlay"></div>
                  </div>
                  
                  <div class="book-card">
                      <img src="https://books.google.com/books/content?id=foeNrgEACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api" alt="sample book image" class="bookImage">
                      <p>Deep work</p>
                    <div class="progressBar"></div>
                      <div class="progressBarOverlay"></div>
                  </div>
                  
                  
                  <a href="/api/books"> See More</a>
              </div>
          </div>
      
          </div>
          <!-- END OF THE LEFT SIDE -->
      
      
          <!-- RIGHT SIDE -->
          <div class="right-side">
          <div id="categories">
              <div id="tree-map">
                <div id="sensors-data">
                  <h4>Sensors Data</h4>
                  <p>Light</p>
                  <p id="photoresistor"></p>
                  <p>Motion</p>
                  <p id="motion"></p>
                  <p>Lights to read are:</p>
                  <p id="lights"></p>

                  <!-- <div class="input-group mb-3">
                  <input type="text" id="barcodeInput" class="form-control"> -->
                  <!-- <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="barcodeButton" type="button">add book</button>
                  </div> -->
                </div>
                  <div id="addedBook">
                      <h4 id="addedBookTitle"></h4>
                      <img src="" alt="" class="bookImage" id="addedBookImage">
                  </div>
              </div>
                  
              </div>
          </div>
          </div>
      
      </div>
      
      </div>
    </div>
      

    
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <!-- <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script> -->
      <script src="/socket.io/socket.io.js"></script>
      <script src="config.js"></script>	
      <script src="main.js"></script>	
  </body>
</html>