<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/session" method="POST">
      <label for="start_time">start_time</label>
      <input type="time" name="start_time" id="start_time" value="01:00">
      <br>
      <label for="end_time">end_time</label>
      <input type="time" name="end_time" id="end_time" value="01:00">
      <br>
      <input type="submit" value="add">
  </form>
  </body>
</html>