<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <li>post <a href="/book/new">new book</a></li>
    <li>post <a href="/session/new">new session</a></li>
    <li>post <a href="/light_session/new">new light_session</a></li>
    <li>post <a href="/light_settings/new">new light_settings</a></li>
  </body>
</html>