@charset "UTF-8";
/* CSS Document */

/* CSS Document */
/* General rules - scales images, videos to size of container */
img, embed, object, video {
  max-width: 100%; }

html {
  box-sizing: border-box;
  /*height: 100%;*/
  
  /*overflow: hidden;*/
}

*,
*::before,
*::after {
  box-sizing: inherit; }


/*hides from browser, shows in doc outliner */
.hidden {
  display: none; }

/*Base rules that apply to HTML elements*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  /* font-size: 30px; */
  max-width: 1920px;
  margin: 0;
}

h1{
  text-align: center;
  margin: 0;
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 1rem;
}

h2 {
  font-size: 2em;
}

a {
  text-decoration: none;
  font-size: 1rem; 
  /* font-size: 30px; */
}

p{
    font-weight: lighter;
    font-size: 20px;
}

li{
  list-style: none;
}

.main{
    padding: 20px 40px;
    
}

#recent-actions{
    padding: 2rem 0;
}

#recent-actions p:hover{
  cursor: pointer;
}

#book-slider{
    padding: 1rem 0;
}


.sidebar{
    display: none;
}

.sidebar ul{
    list-style: none;
    justify-content: center;
    padding: 20px 40px;
}


li:first-child {
  padding-bottom: 6rem;
}

.sidebar ul li:nth-child(n+2){
    padding-bottom: 1rem;
}

.sidebar a{
    text-decoration: none;
    color: #F28921;
}

.nav-sidebar img{
    width: 120px;
}

#book-slider{
    margin-right: 2rem;
}

#books-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.hor-scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  
}

.book-card {
    flex: 0 0 auto;
    padding: 0 10px;
  }

.bookImage {
  height: 300px;
}


#books-grid img{
    max-width: 200px;
}

.navbar-link{
    margin: 0 1rem;
    text-decoration: none;
    color: #fff;
}

.navbar{
  height: 10%;
  background-color: #1C1C1C;
}

.navbar a{
color: #F28921;
}





/*Media Queries*/
@media screen and (min-width: 645px) {

.main {
    padding-right: 90px;
    padding-left: 270px; /* 180 + 90 */
    margin: 0 auto;
    
}


#navbar{
    display: none;
}

.sidebar {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;

    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
    /*width: 180px;*/
    background-color: #1C1C1C;
}

.sidebar ul{
    height: 400px;
}

/* Demo UI */
.progressBar{
  width: 200px;
  height: 10px;
  border: 1px solid black;
  /* background-color: #F28921; */
}

.progressBarOverlay{
  width: 100px;
  height: 10px;
  border: 1px solid black;
  background-color: #F28921;
  margin-top: -10px;
}

.book-card:hover{
  cursor: pointer;
}

#seeAll{
  cursor: pointer;
}

.addedBookTitle{
  text-align: left;
}

#addedBook{
  margin-top: 30px;
}

#addedbookimage{
  margin-left: -30px;
}

@media screen and (min-width: 880px){

.main{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-gap: 30px;
    }

.left-side{
    border-right: 1px solid #dee2e6;
    
}

}

}